## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_excel('drug_consumption.xls')

In [3]:
df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Shrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 32 columns):
ID           1885 non-null int64
Age          1885 non-null float64
Gender       1885 non-null float64
Education    1885 non-null float64
Country      1885 non-null float64
Ethnicity    1885 non-null float64
Nscore       1885 non-null float64
Escore       1885 non-null float64
Oscore       1885 non-null float64
Ascore       1885 non-null float64
Cscore       1885 non-null float64
Impulsive    1885 non-null float64
SS           1885 non-null float64
Alcohol      1885 non-null object
Amphet       1885 non-null object
Amyl         1885 non-null object
Benzos       1885 non-null object
Caff         1885 non-null object
Cannabis     1885 non-null object
Choc         1885 non-null object
Coke         1885 non-null object
Crack        1885 non-null object
Ecstasy      1885 non-null object
Heroin       1885 non-null object
Ketamine     1885 non-null object
Legalh       1885 non-null object
LSD          1885 non-null object
Meth         1885 non-null object
Shrooms      1885 non-null object
Nicotine     1885 non-null object
Semer        1885 non-null object
VSA          1885 non-null object
dtypes: float64(12), int64(1), object(19)
memory usage: 471.3+ KB

In [ ]:
'''Half the dataset are floats and half are strings. There is no missing data'''
for i in df.columns:
    print(df[i].value_counts())
    print()

In [ ]:
''' ID does not serve a purpose other than identifying individuals. Age, Gender, Education,
Country, Ethnicity, Nscore, Escore, Oscore, Ascore, Cscore, Impulsive, and SS are all
categorized by real-values. All drug columns are categorized by string values relating to
when a person used or never used the drug. Semer is a fake drug. The column was created to 
identify over claimers. 8 participants claimed to have used the drug, we should eliminate 
those rows along with the ID column and Semer column '''

#df[df['Semer'] == 'CL0'] # dropping rows based on a condition put 1 or 0 here or whatever you choose
#df = df.drop(['Semer', 'ID'], axis=1)

In [5]:
df.drop(['ID', 'Country', 'Ethnicity', 'Alcohol', 'Choc', 'Caff', 'Semer'], axis=1, inplace=True) #Eliminated alcohol

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 25 columns):
Age          1885 non-null float64
Gender       1885 non-null float64
Education    1885 non-null float64
Nscore       1885 non-null float64
Escore       1885 non-null float64
Oscore       1885 non-null float64
Ascore       1885 non-null float64
Cscore       1885 non-null float64
Impulsive    1885 non-null float64
SS           1885 non-null float64
Amphet       1885 non-null object
Amyl         1885 non-null object
Benzos       1885 non-null object
Cannabis     1885 non-null object
Coke         1885 non-null object
Crack        1885 non-null object
Ecstasy      1885 non-null object
Heroin       1885 non-null object
Ketamine     1885 non-null object
Legalh       1885 non-null object
LSD          1885 non-null object
Meth         1885 non-null object
Shrooms      1885 non-null object
Nicotine     1885 non-null object
VSA          1885 non-null object
dtypes: float64(10), object(15)
memory usage: 368.2+ KB

In [7]:
df = df.replace(['CL0', 'CL1'], 0)

In [8]:
df = df.replace(['CL2', 'CL3', 'CL4', 'CL5', 'CL6'], 1)
df.head()

,Age,Gender,Education,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS,...,Crack,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Shrooms,Nicotine,VSA
0,0.49788,0.48246,-0.05921,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,...,0,0,0,0,0,0,0,0,1,0
1,-0.07854,-0.48246,1.98437,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,...,0,1,0,1,0,1,1,0,1,0
2,0.49788,-0.48246,-0.05921,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,...,0,0,0,0,0,0,0,0,0,0
3,-0.95197,0.48246,1.16365,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,...,0,0,0,1,0,0,0,0,1,0
4,0.49788,0.48246,1.98437,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,...,0,0,0,0,0,0,0,1,1,0

In [14]:
df['Users'] = df.iloc[:, 10:-1].sum(axis=1)

In [15]:
def make_user(row):
    if row == 0:
        return 0 
    else:
        return 1 
df['Users'] = df['Users'].apply(make_user)

In [16]:
df['Users'].value_counts()

1    1553
0     332
Name: Users, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 26 columns):
Age          1885 non-null float64
Gender       1885 non-null float64
Education    1885 non-null float64
Nscore       1885 non-null float64
Escore       1885 non-null float64
Oscore       1885 non-null float64
Ascore       1885 non-null float64
Cscore       1885 non-null float64
Impulsive    1885 non-null float64
SS           1885 non-null float64
Amphet       1885 non-null int64
Amyl         1885 non-null int64
Benzos       1885 non-null int64
Cannabis     1885 non-null int64
Coke         1885 non-null int64
Crack        1885 non-null int64
Ecstasy      1885 non-null int64
Heroin       1885 non-null int64
Ketamine     1885 non-null int64
Legalh       1885 non-null int64
LSD          1885 non-null int64
Meth         1885 non-null int64
Shrooms      1885 non-null int64
Nicotine     1885 non-null int64
VSA          1885 non-null int64
Users        1885 non-null int64
dtypes: float64(10), int64(16)
memory usage: 383.0 KB

In [13]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [19]:
X = df.iloc[:, 0:10].values
y = df.iloc[:, -1].values

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=5)

seed = 7
scoring = 'accuracy'

In [22]:
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
for name, model in models:
	kfold = model_selection.KFold(n_splits=5, random_state=seed)
	cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
	results.append(cv_results)
    names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)

LR: 0.827909 (0.023235)
LDA: 0.825634 (0.023658)
KNN: 0.808198 (0.023953)
CART: 0.764250 (0.031336)
NB: 0.799844 (0.020839)
SVM: 0.831703 (0.014560)

In [23]:
X = df.iloc[:, 0:13].values
y = df.iloc[:, -1].values

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=5)

classifier = RandomForestClassifier()
classifier = classifier.fit(X_train, y_train)
predicted = classifier.predict(X_test)

print('Confusion Matrix :')
print(confusion_matrix(y_test, predicted))
print('Accuracy Score :', accuracy_score(y_test, predicted))
print('Report : ')
print(classification_report(y_test, predicted))

Confusion Matrix :
[[ 42  43]
 [ 36 445]]
Accuracy Score : 0.8604240282685512
Report :
              precision    recall  f1-score   support

           0       0.54      0.49      0.52        85
           1       0.91      0.93      0.92       481

   micro avg       0.86      0.86      0.86       566
   macro avg       0.73      0.71      0.72       566
weighted avg       0.86      0.86      0.86       566

/Users/amberyandow/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [ ]:
from sklearn.feature_selection import SelectPercentile, f_classif

In [ ]:
X_indices = np.arange(X.shape[-1])

In [ ]:
selector = SelectPercentile(f_classif, percentile=10)
selector.fit(X, y)
scores = -np.log10(selector.pvalues_)
scores /= scores.max()
plt.bar(X_indices - .45, scores, width=.5,
        label=r'Univariate score ($-Log(p_{value})$)', color='darkorange', edgecolor='black')